<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Registration Number Detection</title>
</head>
<body>
    <h1>Vehicle Registration Number Detection</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <form method="POST" action="/manual_entry">
        <label for="registration_number">Enter Registration Number:</label>
        <input type="text" id="registration_number" name="registration_number">
        <input type="submit" value="Fetch Data">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>Registration Number : {{ message["Registration Number"] }}</li>
                {% if message["Data"] %}
                <ul>
                    <li>Chassis Code: {{ message["Data"]["Chasis_Code"] }}</li>
                    <li>Registration Number: {{ message["Registration Number"] }}</li>
                    {% for key, value in message["Data"].items() %}
                        {% if key not in ["Chasis_Code", "Registration_Number"] %}
                            <li>{{ key }}: {{ value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                {% else %}
                <li>No data available.</li>
                {% endif %}
                {% if message["Data"] and message["Data"]["Make"] %}
                {% if message["Data"]["Make"] == "Toyota" %}
                    <img src="{{ url_for('static', filename='toyota.jpg') }}" alt="Toyota Image">
                {% elif message["Data"]["Make"] == "Nissan" %}
                    <img src="{{ url_for('static', filename='nissan.jpg') }}" alt="Nissan Image">
                {% else %}
                    <p>No image available for this make.</p>
                {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
